.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* padding: 6rem; */
  min-height: 100vh;
}

.wrapper {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  background: #c5bef9;
  color: black;
  border-radius: 12px;
}

.image {
  border-radius: 10px;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 10px;
}

.slot {
  width: 100%;
  text-align: right;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: 700;
  font-style: italic;
}